 body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
 }
 .btn-primary{
    color:white;
    background-color: #FD6E0A;
    border: 0;
    width: 100px;
    height: 50px;
    font-size:14px;
   
 }
nav{
    display: flex;
    justify-content: space-between;
    padding:20px 100px 0px 100px;
}
.nav-title{
    font-family: open sans;
    font-weight: 45px;
    

}
nav ul li{
    list-style-type: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color:#474747;
    font-family: regular;
    text-align: center;
}
nav ul{
    display: flex;
}

.mery_title{
    color:#FD6E0A;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
   
}

.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
}
.banner .banner_main{
    width: 585px;
    height: 356px;
}
.banner .header_p{
    font-family: regular;
   
}
.banner .profile-pic{
    width: 584px;
    height: 676px;

}
main{
    max-width:1140px;
    
    margin:100px auto;
}
.main-saction{
    text-align: center;
    padding: 50px;
    background-color:#FFF8F3;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    font-family: regular
    
}
.heading-title{
    font-weight: 800;
    font-size: 35px;
}
.para-title{
    font-family: regular;
}
.second-saction{
    text-align: center;
    margin: 100px;

}
.what-i-do{
    font-size: 35px;
    font-weight: bold;
}
.para-style{
    font-family: regular;
    font-size: 18px;
}

    
    
    
    
    
